.content{
    width: 100vh;
}

table {
width: 60%;
border-collapse: collapse;
margin: 20px auto;
}
th, td {
border: 1px solid #ddd;
padding: 8px;
text-align: center;
}
button {
font-size: 16px;
padding: 10px;
margin-bottom: 20px;
}